@import "../variables";

.dashboard {
    &__user-avatar {
        position: relative;
    }

    &__user-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    &__button {
        color: $color-primary;
        text-decoration: none;
        margin-bottom: 0.5rem;

        &:hover,
        &:focus,
        &--active,
        &--active:hover {
            text-decoration: none;
        }

        &:hover,
        &--active,
        &--active:hover {
            color: #fff !important;
        }

        &:hover {
            background-color: $color-muted !important;
        }

        &--active,
        &--active:hover {
            background-color: $color-CF7500 !important;
        }
    }

    a.nav-item.nav-link {
        color: $color-primary !important;
    }

    a.nav-item.nav-link.active {
        color: $color-muted !important;
    }
}

a.dashboard__link,
a.dashboard__link:active,
a.dashboard__link:focus,
a.dashboard__link:hover {
    text-decoration: none;
}

.center {
    @media screen and (max-width: 575px) {
        text-align: center !important;
    }
}

.col {
    justify-content: center;
}
