@import "../variables";

.faq {
    background-color: $color-primary;

    .accordion-body {
        background-color: $color-faq-background;
    }

    .accordion-button {
        background-color: $color-faq-header;
        color: #fff;

        &:not(.collapsed) {
            background-color: $color-faq-header;
            color: #fff;
        }
    }

    &-title {
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.2;

        @media screen and (min-width: 992px) {
            font-size: 3.5rem;
        }
    }

    &-clickable {
        cursor: pointer;
    }
}

.effecthover:hover {
    animation-name: jump;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes jump {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -6px);
    }
    100% {
        transform: translate(0%, 0);
    }
}

.faq-bg {
    background-color: $color-primary;
}

.accordion--bg {
    color: #fff;
}

.accordion-button {
    background-color: #303030 !important;
}

.accordion-body {
    background-color: #303030 !important;
}
