@import "../variables";

.faq {
    background-color: $color-faq-background;

    .accordion-body {
        background-color: $color-faq-background;
    }

    .accordion-button {
        background-color: $color-faq-header;
        color: #fff;

        &:not(.collapsed) {
            background-color: $color-faq-header;
            color: #fff;
        }
    }

    &-title {
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.2;

        @media screen and (min-width: 992px) {
            font-size: 3.5rem;
        }
    }

    &-clickable {
        cursor: pointer;
    }
}
