@import "../variables";

.footerLinks {
    color: $color-F4F4F4 !important;
    padding: 2rem;
}

a {
    text-decoration: none !important;
    color: $color-F4F4F4 !important;

    a:hover {
        color: $color-F0A500 !important;
    }
}
