@import "../variables";

.footer {
    border-bottom: 0.2rem solid $color-secondary;
    background-color: $color-title;
}

.adjust- {
    margin-left: 0.5rem !important;
}

.iconsadjust {
    margin-right: 0.5rem !important;
}

.jump:hover :hover {
    filter: alpha(opacity=50); /* For IE8 and earlier */
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    animation-name: jump;
    animation-duration: 1s;
    animation-fill-mode: both;
}
