@import "../variables";

.footer {
    border-bottom: 0.2rem solid $color-secondary;
    background-color: $color-primary;
}

.adjust- {
    margin-left: 0.5rem !important;
}

.iconsadjust {
    margin-right: 0.5rem !important;
}
