@import "../variables";

div.hero {
    background-size: cover;
    background-position: center top;
    border-radius: 0;
    border-bottom: 0.2rem solid $color-secondary;
    background-color: $color-primary;

    @media only screen and (max-width: 480px) {
        background-image: url("../assets/heroMobile.png");
        height: 450px;
    }

    @media only screen and (min-width: 481px) {
        background-image: url("../assets/heroDesktop.png");
        height: 650px;
    }
}

.card-reg {
    color: #303030 !important;
    width: 20rem;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-cpf {
    color: #303030 !important;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.border {
    border-radius: 20px;
    justify-content: space-between;
}

.ps-5 {
    padding-left: 11rem !important;
}

.mt-5:nth-child(2) {
    @media only screen and (min-width: 992px) {
        margin-top: 20rem !important;
    }
}
