.institutional {
    background-size: cover;
    background-position: center;
    background-image: url("../assets/Intitutional.png");

    &-title {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.2;

        @media screen and (min-width: 992px) {
            font-size: 3.5rem;
        }
    }
}

.instituitional-bg {
    background: rgba(116, 116, 116, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card-institutional {
    justify-content: center;
}

div.px-2 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
