.institutional {
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 970px) {
        background-image: url("../assets/institutionalMobile.png");
    }

    @media only screen and (min-width: 971px) {
        background-image: url("../assets/institutionalDesktop.png");
        height: 650px;
    }

    &-title {
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.2;

        @media screen and (min-width: 992px) {
            font-size: 3.5rem;
        }
    }
}
