@import "../variables";

.navbar {
    background-color: $color-primary;
    border-bottom: 0.2rem solid $color-secondary;

    a.dropdown-toggle.nav-link {
        color: #fff !important;
    }

    a.dropdown-toggle.nav-link:hover {
        color: #212529 !important;
    }

    &__search-group {
        width: 28rem;
    }
}

a.nav-link {
    color: #f4f4f4 !important;
    &:hover {
        color: #f0a500 !important;
    }
}
div.dropdown-menu.show {
    background: #212529;
}

.logo-height {
    height: 60px;
    margin-right: 2rem;
}
