$color-primary: #303030;
$color-title: #4d4d4d;
$color-muted: #626262;
$color-faq-background: #443a50;
$color-faq-header: #3b2e4a;
$color-secondary: #cf7500;
$color-CF7500: #cf7500;
$color-F0A500: #f0a500;
$color-F4F4F4: #f4f4f4;

/* Paleta de cores em: https://colorhunt.co/palette/f4f4f4f0a500cf7500000000 */
